<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles/jokeTweets.css"/>
  </head>
  <body>
    <h2>#joke Tweets!</h2>
    <p>Below are Tweets provided by the
      <a href="https://api.twitter.com/1.1/search/tweets.json">Twitter Search API
      </a>
       for the hashtag "joke".
    </p>
    <div id="tweets">
    </div>
	<script data-main="../static/scripts/jokeTweets.js" src="../static/scripts/require.js"></script>
    <!-- Link JQuery to use "require" -->
    <!--
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	-->
    <!-- Link my Javascript -->
    <script type="text/javascript" src="../static/scripts/jokeTweets.js"></script>
  </body>
</html>
